<html>

<head>
    <title>Sales Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="icon" href="https://drive.google.com/uc?export=view&id=1WDBTuMXEri5lDJTwH0JFBY4_CUZ6f2WS">
    <style>
      body{
        /* background-color: #eae7ea; */
        /* background-image:   url('https://drive.google.com/uc?export=view&id=1_yktpynxAnY_qiluoIVlbPsHgz7EEYLG'); */
        font-family: 'Varela Round', sans-serif;
        /* background-repeat: no-repeat;
        background-size: auto; */
      }
  
    </style>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>