
{% extends 'base.html' %}
{% block body %}
  <br>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">Sales Dashboard</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'sales' %}" style="color:white"><u>Sales</u></a></li>
            <li><a href="{% url 'analytics' %}">Quantity Analysis</a></li>
            <li><a href="{% url 'weekly' %}">Weekly</a></li>
            <li><a href="{% url 'net' %}">Net Sale</a></li>
            <li><a href="{% url 'opalData' %}">Opal Export</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-off"></span></a></li>
          </ul>
          
        </div>
      </div>
    </nav>
  </div>
    <br>
    <center>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <b>From :&nbsp;</b><input type="date" name="startdate" />
                <b>To :&nbsp;</b><input type="date" name="todate" />
                <label for="channel"><b>Choose a channel:&nbsp;</b></label>
                <select id="channel" name="channelName">
                  <option value="None">All Channels</option>
                  <option value="vendor">All Vendors</option>
                  <option value="Wayfair">Wayfair</option>
                  <option value="Vir Venture">Vir Venture</option>
                  <option value="Morecommerce">Morecommerce</option>
                  <option value="Overstock">Overstock</option>
                  <option value="Manhattan Lane -Amazon SC">Manhattan Lane -Amazon SC</option>
                  <option value="Amazon Warehouse">Amazon Warehouse</option>
                  <option value="Amazon VC DSV">Amazon VC DSV</option>
                  <option value="Amazon CA Warehouse">Amazon CA Warehouse</option>
                  <option value="Bed Bath & Beyond">Bed Bath & Beyond</option>
                  <option value="Unbeatable">Unbeatable</option>
                  <option value="OJ COMMERCE">OJ COMMERCE</option>
                  <option value="Cymax">Cymax</option>
                  <option value="Doba">Doba</option>
                  <option value="Home Depot">Home Depot</option>
                  <option value="Target">Target</option>
                  <option value="Lowes">Lowes</option>
                  <option value="Benzara">Benzara</option>
                  <option value="Ebay">Ebay</option>
                  <option value="Pier1">Pier1</option>
                  <option value="Kroger">Kroger</option>
                  <option value="Uber Bazaar">Uber Bazaar</option>
                  <option value="Hayneedle">Hayneedle</option>
                  <option value="Casagear">Casagear</option>
                  <option value="Walmart Marketplace">Walmart Marketplace</option>

                </select>
                <label><b>Category:&nbsp;</b></label>
                  <select id="cat" name="cat">
                      <option value="Total">Total</option>
                      <option value="Warehouse">Warehouse</option>
                      <option value="Import">Import</option>
                      <option value="Dropship">Dropship</option>
                      <option value="Closeout">Closeout</option>
                    </select>
                    <input type="submit" name="search">    
            </form>
            <hr>
        </div>
    </center>
    <br>
    {% if show %}
        <div class="container">
          <div class="row">
            <center><h3><mark>{{text}}</mark></h3></center>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
        <div id="container" style="width: 100%;">
            <canvas id="analytics" data-url="{% url 'sales' %}"></canvas>
          </div>
          <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
          <script>
            $(function () {
              var $populationChart = $("#analytics");
              $.ajax({
                url: $populationChart.data("url"),
                success: function () {
        
                  var ctx = $populationChart[0].getContext("2d");
        
                  new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: {{ labels|safe }},
                      datasets: [{
                        label: 'Channels',
                        backgroundColor: '#6fae3f',
                        data: {{ data|safe }},
                      }]          
                    },
                    options: {
                      responsive: true,
                      legend: {
                        position: 'top',
                      },
                      title: {
                        display: true,
                        text: 'Channel Sales'
                      }
                    }
                  });
        
                }
              });
        
            });
        
          </script>
        </div>
        <br>
        <center>

          <div id="container" style="width: 100%;">
              <canvas id="analytics" data-url="{% url 'sales' %}"></canvas>
            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
            <script>
              $(function () {
                var $populationChart = $("#analytics");
                $.ajax({
                  url: $populationChart.data("url"),
                  success: function () {
          
                    var ctx = $populationChart[0].getContext("2d");
          
                    new Chart(ctx, {
                      type: 'bar',
                      data: {
                        labels: {{ vendor|safe }},
                        datasets: [{
                          label: 'Vendor Name',
                          backgroundColor: '#6fae3f',
                          data: {{ values|safe }},
                        }]          
                      },
                      options: {
                        responsive: true,
                        legend: {
                          position: 'top',
                        },
                        title: {
                          display: true,
                          text: 'Vedor'
                        }
                      }
                    });
          
                  }
                });
          
              });
          
            </script>

        </center>
          <div class="container">
          <div class="row">
            <div class='col-sm'>
              <a href="/export" <button class="btn btn-default btn-lg" 
              type="button">
              <strong>Export Data</strong>
            </button></a>
            </div>
          </div>
        </div>
          <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="table-responsive text-nowrap">
                        <!-- <div style="overflow-x:auto;"> -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="th-lg">Date</th>
                                    <th scope="col">Channel Name</th>
                                    <th scope="col">Sales Order ID</th>
                                    <th scope="col">Ship to Name</th>
                                    <th scope="col">SKU</th>
                                    <th scope="col">Normal SKU</th>
                                    <th scope="col">Vendor</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Line Total</th>
                                    <th scope="col">Channel Order Id</th>
                                    <th scope="col">Category</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for result in salesData%}
                                <tr>
                                    <td>{{result.date}}</td>
                                    <td>{{result.sales_channel}}</td>
                                    <td>{{result.sales_order_id}}</td>
                                    <td>{{result.ship_to_name}}</td>
                                    <td>{{result.sku}}</td>
                                    <td>{{result.normal_sku}}</td>
                                    <td>{{result.vendor}}</td>
                                    <td>{{result.quantity}}</td>
                                    <td>{{result.line_total}}</td>
                                    <td>{{result.channel_order_id}}</td>
                                    <td>{{result.vendor_type}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
      {% else %}
      <div class="container">

      </div>
      {% endif %}
    {% endblock %}